@use 'string.function' as string;

//Unifica multiplos mapas.
@function merge($maps...) {

    $merged-map: (); //Mapa resultante.
    $first-merge: true; //Defini se é o primeiro merge.
    @each $map in $maps {
        //Percorre cada mapa passado.

        @if $first-merge {
            //Se ainda está no primeiro mapa.
            $merged-map: $map;
            $first-merge: false;
        }@else {
            //Se já passou do primeiro mapa.
            $merged-map: map-merge($merged-map, $map);
        }
    }
    @return $merged-map; //Retorna o mapa resultante.
}
