@use '../mixins/variables.mixin' as variables-mixin;
@use '../config/colors.config' as color-config;
@use '../config/sizes.config' as sizes-config;

//Variaveis css usadas.
:root{
    @include variables-mixin.make-css-variables( color-config.$defautl-white-colors-map );
    @include variables-mixin.make-css-variables( color-config.$default-gray-colors-map );
    @include variables-mixin.make-css-variables( color-config.$default-black-colors-map );
}

//Resete padrão dos estilos do navegador.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Definindo height do body e html.
html, body {
    height: 100%;
}

//Resete de elementos de titulo.
h1 {
    font-size: nth(sizes-config.$default-title-sizes, 1);
    font-weight: bold;
    color: var(--black-color-200);
}

h2 {
    font-size: nth(sizes-config.$default-title-sizes, 2);
    font-weight: bold;
    color: var(--black-color-200);
}

h3 {
    font-size: nth(sizes-config.$default-title-sizes, 3);
    font-weight: bold;
    color: var(--black-color-200);
}

h4 {
    font-size: nth(sizes-config.$default-title-sizes, 4);
    font-weight: bold;
    color: var(--black-color-200);
}

h5 {
    font-size: nth(sizes-config.$default-title-sizes, 5);
    font-weight: bold;
    color: var(--black-color-200);
}

h6 {
    font-size: nth(sizes-config.$default-title-sizes, 6);
    font-weight: bold;
    color: var(--black-color-200);
}

//Resetes dos elementos de texto.
p, span {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
    color: var(--black-color-100);
}

//Resetes dos elementos de botão.
button, input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline-block;
    border: 1px solid var(--black-color-100);
    background-color: transparent;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    padding: 5px 8px;
    cursor: pointer;

    //Evento de hover.
    &:hover {
        background-color: var(--white-color-300);
    }
}

//Resetes dos elementos de links.
a {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    color: var(--black-color-300);
    text-underline-offset: .25rem;

    //Evento de hover.
    &:hover {
        color: var(--gray-color-800);
    }
}

//Resetes do elementos de formularios.
input, textarea {
    display: block;
    font-size: 1rem;
    background-color: var(--white-color-200);
    color: var(--black-color-100);
    padding: 8px 5px;
    border: 1px solid var(--black-color-300);
}

input[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

input[type="color"], input[type="file"], input[type="image"], input[type="radio"] {
    cursor: pointer;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 150px;
}