@use '../mixins/variables.mixin' as variables-mixin;
@use '../config/colors.config' as color-config;
@use '../config/sizes.config' as sizes-config;

//Variaveis css usadas.
:root{
    @include variables-mixin.make-css-variables( color-config.$defautl-white-colors-map );
    @include variables-mixin.make-css-variables( color-config.$default-gray-colors-map );
    @include variables-mixin.make-css-variables( color-config.$default-black-colors-map );
}

//Resete padrão dos estilos do navegador.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Definindo height do body e html.
html, body {
    height: 100%;
}

//Resete de elementos de titulo.
h1 {
    font-size: nth(sizes-config.$default-title-sizes, 1);
    font-weight: bold;
    color: var(--black-color-200);
}

h2 {
    font-size: nth(sizes-config.$default-title-sizes, 2);
    font-weight: bold;
    color: var(--black-color-200);
}

h3 {
    font-size: nth(sizes-config.$default-title-sizes, 3);
    font-weight: bold;
    color: var(--black-color-200);
}

h4 {
    font-size: nth(sizes-config.$default-title-sizes, 4);
    font-weight: bold;
    color: var(--black-color-200);
}

h5 {
    font-size: nth(sizes-config.$default-title-sizes, 5);
    font-weight: bold;
    color: var(--black-color-200);
}

h6 {
    font-size: nth(sizes-config.$default-title-sizes, 6);
    font-weight: bold;
    color: var(--black-color-200);
}